#active-baza-link {
    color: red;
}
.wrapper {
    justify-content: center;
}
#Tabela_baza {
    width: 100%;
}
td {
    text-align: center;
    font-family: 'Kanit';
    font-size: 14px;
}
.w20 {
    width: 10%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.w80 {
    width: 90%;
}